// body {
//   background: #f9f9f9;
// }

// .form-control:focus {
//   box-shadow: none;
//   border-color: #ba68c8;
// }

// .profile-button {
//   background: rgb(99, 39, 120);
//   box-shadow: none;
//   border: none;
// }

// .profile-button:hover {
//   background: #682773;
// }

// .profile-button:focus {
//   background: #682773;
//   box-shadow: none;
// }

// .profile-button:active {
//   background: #682773;
//   box-shadow: none;
// }

// .back:hover {
//   color: #682773;
//   cursor: pointer;
// }

// .labels {
//   font-size: 11px;
// }

// .add-experience:hover {
//   background: #022135;
//   color: #fff;
//   cursor: pointer;
//   border: solid 1px #022135;
// }

// .profileinfo {
//   color: grey;
// }

.profile-card {
  border: none;
  border-radius: 0px;
}

.txt-color {
  font-size: 14px;
  color: #076eb0;
}

.comp-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.prof-edit {
  display: flex;
  justify-content: center;
}

.btn-edit {
  margin: 0 !important;
}
