// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';

@import 'auth.scss';

.student-list-table {
  @include breakpoint-max(md) {
    display: none !important;
  }
}

.student-list-card {
  display: none !important;
  @include breakpoint-max(md) {
    display: block !important;
  }
}

.subject-list-table {
  @include breakpoint-max(md) {
    overflow-x: scroll !important;
  }
}
